@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import './vars.scss';

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}
